# Ignora todas as pastas e arquivos que não têm extensão .py

# Ignora tudo
*

# Exceto arquivos .py
!*.py

# Exceto este próprio .gitignore
!.gitignore

# Exceto pastas (para permitir busca recursiva por .py)
!*/

# Ignore Python cache files
__pycache__/
*.py[cod]